footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    background-color: black;
    color: deeppink;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-end: 12;
  }
  