main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background-color: rgb(216, 189, 242);
  color: rgb(100, 37, 93);
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 11;
  font-family: "Akronim", cursive;
  font-family: "Pacifico", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Rubik Iso", cursive;
  }
  
  ul {
    width: 90%;
    height: 90%;
  }
  
  .boton {
    font-family: "Akronim", cursive;
    margin: 0;
    background-color:  rgb(192, 50, 90);
    border-radius: 25px;
    justify-content: space-around;
    width: 25%;
    height: 60px;
  }

