
<link rel="stylesheet" href="./navbar.css" />
<!-- <link rel="stylesheet" href="./navbar.css" /> -->

<nav>
  <button class="boton-nav"><a href="/create">Crear Post</a></button> <br />
<ul>
  <i>Post</i>
</ul>
</nav>
