<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <a href="/notes">Go back</a>
    <h1>Update note</h1>

    <form action="/notes/update" method="post">
        <input type="text" name="id" value="<%= note.id %>" hidden>
        <input type="text" name="author" placeholder="@author" value="<%= note.author %>"><br>
        <textarea name="content" cols="30" rows="10" placeholder="my new content" ><%= note.content %></textarea><br>
        <button>Save</button>
    </form>
</body>
</html>